
<div class="jumbotron">
  <h2>Angulariffic Gallery</h2>
  <p class="lead">
    <img src="http://www.gravatar.com/avatar/a86d9e27a25c7a51674b7edb46560284.png" alt="Jim Munro's AngularJS Example Gallery" class="img-circle"><br>
    Some simple exercises in AngularJS
  </p>
</div>

<div class="row marketing">
  <h4>Weather App</h4>
  <p>
    Simply retrieve weather data from a location (for now just Boulder, Co) from <a ng-href="http://openweathermap.org">openweathermap.org</a>.
    <a ng-href="/#/weather" class="btn btn-large btn-primary">Check it out.</a>
  </p>

  <h4>To Do List</h4>
  <p>
    The canonical Javascript framework example.
    <a ng-href="/#/todo" class="btn btn-large btn-primary">Check it out.</a>
  </p>

  <h4>Directives</h4>
  <p>
    Examples of custom directives.
    <a ng-href="/#/directives" class="btn btn-large btn-primary">Check it out.</a>
  </p>
</div>

<div class="footer">
  <p>Another fine product from <a href="http://www.jimfmunro.com">Jim Munro</a></p>
</div>
