<div class="jumbotron" ng-controller="WeatherCtrl">
  <h1>Weather</h1>
  <p><a class="btn btn-lg btn-success" ng-click="getWeather()">Check Weather</a></p>
  <p>Current weather for {{city | uppercase}},{{state | uppercase}}</p>
  <p class="text-center">Time: {{currtime | date:'h:m:s a'}}
  <div ng-show="data">
    <p>Currently: <img ng-src="http://openweathermap.org/img/w/{{data.weather[0].icon}}.png"> {{data.weather[0].description}}
      <div>
        <just-gage id="temp-gauge" min=32 max=110 value=data.main.temp title="Temperature (F0"></just-gage>
        <just-gage id="humid-gauge" min=0 max=100 value=data.main.humidity title="Humidity (%)"></just-gage>
        <just-gage id="wind-gauge" min=0 max=150 value=data.wind.speed title="Wind Speed (MPH)"></just-gage>
        <!-- Temperature: {{data.main.temp}} | Humidity {{data.main.humidity}}% | Wind: {{data.wind.speed}} mph -->
      </div>
    </p>
    <p class="text-muted small" >{{ url }}</p>
  </div>
</div>


